{% extends "dappx/base.html" %}
{% load static %}
{% block body_block %}

<!DOCTYPE html>
<html lang="en">
<head>
<body style="background-image: url('{% static 'images/bg.jpg' %}'); 
      height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;">

  <div class="container">
    <div class="jumbotron" style="border:1px solid black;">
        {% if user_type == "CL" %}
        <h3>Client Info Form</h3>
        {% else %}
        <h3>Contractor Info Form</h3>
        {% endif %}
        <form enctype="multipart/form-data" method="POST" action="{% url 'dappx:info' %}">
          {% csrf_token %}
          {% for field in info_form %}
            <div class="form-group">
            <label class="col-sm-4 control-label" for="{{ field.name }}">{{ field.label }} : </label>
            <div class="col-sm-8">
                {{ field }}
            </div> <br>
            </div>
          {% endfor %} <br>
          <input type="submit" name="" value="Submit">
          <input type="hidden" value={{user.username}} name="username">
        </form>
    </div>
  </div>

  </body>
</html>
  
{% endblock %}
