{% extends 'dappx/base.html' %}
{% load static %}
{% block body_block %}

<!DOCTYPE html>
<html lang="en">
<head>
<body style="background-image: url('{% static 'images/bg.jpg' %}'); 
      height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;">

  <div class="container">
    <div class="jumbotron" style="border:1px solid black;">
      <h1>Login:</h1>
<form method="post" action="{% url 'dappx:user_login' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}<br>
          <label for="username"><h3>Username: </h3></label>
          <input type="text" name="username" placeholder="Username"><br>
          <label for="password"><h3>Password: </h3></label>
          <input type="password" name="password" placeholder="Password"><br><br>
<input type="submit" name="" value="Login">
</form>
</div>
  </div>

</body>
</html>
  
{% endblock %}
