{% extends "dappx/base.html" %}
{% load static %}
{% block body_block %}

<!DOCTYPE html>
<html lang="en">
<head>
<body style="background-image: url('{% static 'images/bg.jpg' %}'); 
      height: 125%; background-position: center; background-repeat: no-repeat; background-size: cover;">

{% if request.user.groups.all.0.name == 'Client' %}


  <div class="container">
    <div class="jumbotron" style="border:1px solid black;">
        <h3>Client Profile Information</h3><br>
          {% for key, value in client_info.items %}
            <div class="form-group">
            <label class="col-sm-4 control-label" for="{{ key }}">{{ key }} : </label>
            <div class="col-sm-8">
                {{ value }}
            </div> <br>
            </div>
          {% endfor %} <br>
    </div>
  </div>

{% else %}

  <div class="container">
    <div class="jumbotron" style="border:1px solid black;">
        <h3>Contractor Profile Information</h3><br>
          {% for key, value in contractor_info.items %}
            <div class="form-group">
            <label class="col-sm-4 control-label" for="{{ key }}">{{ key }} : </label>
            <div class="col-sm-8">
                {{ value }}
            </div> <br>
            </div>
          {% endfor %} <br>

      <form enctype="multipart/form-data" method="POST" action="{% url 'dappx:add_category' %}">
          {% csrf_token %}
        <div class="form-group">
          <label class="col-sm-4 control-label" for="{{ key }}">Add Category : </label>
        <select class="form-control" id="exampleFormControlSelect1" name="category">
          {% for category in categories %}
          <option>{{category}}</option>
          {% endfor %}
        </select>
      </div>
        <br>
          <input type="submit" name="" value="Submit">
        </form>
        <br>
            <form enctype="multipart/form-data" method="POST" action="{% url 'dappx:remove_category' %}">
          {% csrf_token %}
        <div class="form-group">
          <label class="col-sm-4 control-label" for="{{ key }}">Remove Category : </label>
        <select class="form-control" id="exampleFormControlSelect2" name="category">
          {% for category in categories %}
          <option>{{category}}</option>
          {% endfor %}
        </select>
      </div>
        <br>
          <input type="submit" name="" value="Submit">
        </form>


    </div>
  </div>


{% endif %}

</body>
</html>

{% endblock %}
