{% extends "dappx/base.html" %}
{% load static %}
{% block body_block %}

<!DOCTYPE html>
<html lang="en">
<head>
<body style="background-image: url('{% static 'images/bg.jpg' %}'); 
      height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;">

  <div class="container">
    <div class="jumbotron" style="border:1px solid black;">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1>Register:</h1>
<form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ info_form }}
          <br>
          <input type="submit" name="" value="Register">
        </form>
      {% endif %}
    </div>
  </div>

</body>
</html>
  
{% endblock %}
