{% extends "dappx/base.html" %}
{% load static %}
{% block body_block %}

<!DOCTYPE html>
<html lang="en">
<head>
<body style="background-image: url('{% static 'images/bg.jpg' %}'); 
      height: 125%; background-position: center; background-repeat: no-repeat; background-size: cover;">

  <div class="container">
    <div class="jumbotron" style="border:1px solid black;">
        <h2>Search by category</h2><br>
        <form enctype="multipart/form-data" method="POST" action="{% url 'dappx:search' %}">
          {% csrf_token %}

  <div class="form-group">
    <select name="dropdown" class="form-control" id="exampleFormControlSelect1">
      {% for category in categories %}
      <option value="{{category}}">{{category}}</option>
      {% endfor %}
    </select>
  </div>
          <br>
          <input type="submit" name="" value="Submit">
        </form>
    </div>
  </div>

  <!-- output of recommender model -->
  {% if submitted %}
  <div class="container">
    <div class="jumbotron" style="border:1px solid black;">
        <h2>Recommendations for {{selected_category}}</h2><br>
        <!-- <p style="font-family:Roboto, sans-serif; font-size:14px">{{output}}</p> -->
        {% autoescape off %}
        {{output}}
        {% endautoescape %}

  </div>
  </div>
  {% endif %}
  
  </body>
</html>

{% endblock %}
